<ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button (click) = "goToHome()" tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button (click) = "goToCatalogo()" tab="Catalogo">
      <ion-icon name="search"></ion-icon>
      Catálogo
    </ion-tab-button>
    <ion-tab-button  (click) = "goToHorario()"tab="Horario">
      <ion-icon name="calendar"></ion-icon>
      Horario
    </ion-tab-button>
    <ion-tab-button  (click) = "goToPerfil()"tab="Perfil">
      <ion-icon name="person"></ion-icon>
      Perfil
    </ion-tab-button>
</ion-tab-bar>