.chat-box {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--jpix-chat-panel-bg);
  color: var(--ion-text-color);
  border-radius: 8px;
  height: 300px;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-message {
  padding: 8px;
  background-color: var(--jpix-chat-message-bg);
  color: var(--ion-text-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--jpix-shadow-color);
}

.chat-message p {
  margin: 0;
  color: inherit;
}

.chat-box.expand {
  height: 350px; /* Ajusta la altura del chat al expandirse */
}
