<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="register()">Registrar</ion-button>

  <div class="login-link">
    <p>Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
  </div>
</ion-content>
