<ion-tab-bar slot="bottom">
    <ion-tab-button (click) = "goToHome()" tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button (click) = "goToPPrincipal()" tab="Principal">
      <ion-icon name="search"></ion-icon>
      Catálogo
    </ion-tab-button>
    <ion-tab-button tab="Horario">
      <ion-icon name="calendar"></ion-icon>
      Horario
    </ion-tab-button>
    <ion-tab-button tab="Perfil">
      <ion-icon name="person"></ion-icon>
      Perfil
    </ion-tab-button>
</ion-tab-bar>

