/* Contenedor <ion-fab> con la nueva clase.
  Restauramos tu posicionamiento original.
*/
ion-fab.fab-container-horizontal {
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 9999;
  
  /* CSS para forzar que los botones hijos se alineen 
    en horizontal (fila) uno al lado del otro.
  */
  display: flex;
  flex-direction: row;
  gap: 10px; /* Espacio entre los dos botones */
}
